@import "../../designUtils/colors";
@import "../../designUtils/fontDesign";

.studentCard{

     margin: 10px;
     border-bottom: 2px solid $background-gray;
     background-color: white;
     
     a{
     text-decoration: none;
     display: flex;
     color: unset;
   }

   &__profilePic{

        margin: 8px;    

        img{
            width: 100px;
            height: 100px;
            border: 2px solid $background-gray;
            border-radius: 50%;
        }
   }

   &__info{
        margin-left: 20px;
        width: 70%;
   }

   &__name{
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
   }

   &__infoLine{
        @extend %gray-and-indented;
        line-height: 20px;
   }

   &__gradeAverage{
     padding-bottom: 10px
   }

   &__gradesList{
        @extend %gray-and-indented;
        margin-top: 10px;
        span{
          min-width: 60px;
          display: inline-block;
        }
        display: none;
   }

   &__tagCollectionRow{
     display: flex;
   }

   &__tagCollection{
     @extend %gray-and-indented;
     padding-top: 12px;
     margin-left: 24%;
     width: 62.05%;
   }

   &__tag{
     display: inline-block;
     background-color: $tab-background;
     padding: 8px 10px;
     border-radius: 5px;
     color: black;
     margin: 0 5px 5px 0;
   }

   &__actionIcons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
   }

   &__toggleIcon, &__trashIcon{
        cursor: pointer;
        color: $shadow-gray;
        padding-top: 8px;
        &:hover{
          color: black;
        }
        &-spinning{
          animation: spin-animation 1.2s infinite;
        }
   }

   &__trashIcon{
     padding-top: 20px;
   }

   @keyframes spin-animation {
     0%{
          transform: rotate(0deg);
     }
     100%{
          transform: rotate(360deg);
     }
   }

   @media only screen and (max-width: 440px){
     &_name{
          font-size: 20px;
     }
   }
}