@import "../../designUtils/colors";

.navbar{
    
    background-color: white;
    height: 60px;
    border-bottom: $shadow-gray 2px solid;

    &__links{
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        max-width: 800px;
        margin: 0 auto;
        cursor: default;
    }

    &__logo{
        font-size: 24px;
        font-weight: 600;
    }

    &__menuItems{
        display: flex;
        width: 32%;
        justify-content: space-between;
    }

    &__menuItem{
        list-style: none;
    }

    &__toogleIcon{
        display: none;
    }

    @media only screen and (max-width: 840px){
        &__links{
            padding: 0 15px;
        }
    } 

    @media only screen and (max-width: 440px){
        padding: 0 15px;

        &__menuItems{
            display: none;
            &-active{
                display: block;
                background-color: white;
                width: 100%;
                z-index: 10;
                position: absolute;
                margin-top: 60px;
                left: 0;
                border-bottom: 1px $shadow-gray solid;
            }
        }

        &__menuItem{
            padding: 0 20px;
            &:not(:last-child){
                border-bottom: 1px $shadow-gray solid;
            }
        }
        
        &__toogleIcon{
            display: block;
            font-weight: 600;
            font-size: 24px;
        }
    } 
}