@import "../../designUtils/colors";

.searchBar{
    width: 93%;
    height: 30px;
    border: none;
    padding: 5px 10px;
    border-bottom: 2px solid $highlight-gray;
    margin: 10px;
    font-size: 16px;
    &:focus{
        outline: none;   
        border-bottom: 2px solid $highlight-gray;
   }
}