@import "./designUtils/colors";

body{
    background-color: $background-gray;
}

.pageContainer{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

@media only screen and (max-width: 440px){
    .App{
        margin: 0;
    }

    .pageContainer{
        padding-top: 10px;
    }
  }